<dl>
    <dt>Items</dt>
    <dd>
        <table class="table table-striped table-bordered table-condensed table-responsive tablesorter" id="data">
            <thead>
                <tr>
                    <th data-column-contents="name"><a class="nowrap-this-element" data-toggle="tooltip" data-tooltip-placement="right" title="The name from the Gacha's inventory.&lt;br /&gt;&lt;br /&gt;NOTE: Names are not unique!">Item Name</a></th>
                    <th data-column-contents="probability"><a class="nowrap-this-element" data-toggle="tooltip" data-tooltip-placement="top" title="The percentage probability is there of getting this item from this Gacha&lt;br /&gt;&lt;br /&gt;The blue line is the probability. The red area is the amount this item is above or below the target right now.">Probability</a></th>
                    <th data-column-contents="inventory"><a class="nowrap-this-element" data-toggle="tooltip" data-tooltip-placement="left" title="How many of this item are still available">Inventory</a></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </dd>
</dl>
