<dl>
    <dt>Items</dt>
    <dd>
        <table class="table table-striped table-bordered table-condensed table-responsive tablesorter" id="data">
            <thead>
                <tr>
                    <th data-column-contents="name" data-toggle="tooltip" data-tooltip-placement="right" title="The name from the Gacha's inventory.&lt;br /&gt;&lt;br /&gt;NOTE: Names are not unique!"><a class="nowrap-this-element">Item Name</a></th>
                    <th data-column-contents="probability" data-toggle="tooltip" data-tooltip-placement="top" title="The percentage probability is there of getting this item from this Gacha&lt;br /&gt;&lt;br /&gt;The vertical blue line is the probability. The blue part of the bar is the amount this item is above or below the target right now."><a class="nowrap-this-element">Probability</a></th>
                    <th data-column-contents="inventory" data-toggle="tooltip" data-tooltip-placement="left" title="How many of this item are still available"><a class="nowrap-this-element">Inventory</a></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </dd>
</dl>
