<div id="page-registry">
    <div id="header">
        <div class="page-header clearfix">
            <div class="nav-links">
                <a href="#dashboard" class="btn btn-default">Back to this Gacha</a>
            </div>
            <h1>All Gachas</h1>
        </div>
    </div>
    <div id="search"></div>
    <div id="results"></div>
</div>
