<div class="gacha-field"><i class="fa fa-asterisk"></i>&#160;<span data-toggle="tooltip" title="{{objectDescPrefixed}}">{{objectName}}</span></div>
<div class="gacha-field">&#160;<a href="{{baseUrl}}/#dashboard" target="_blank"><i class="fa fa-info-circle"></i>Info</a></div>
<div class="gacha-field">&#160;<a href="{{mapUrl}}"><i class="fa fa-globe"></i>Teleport</a></div>
