<div class="gacha-field"><i class="fa fa-asterisk"></i>&#160;</div>
<div class="gacha-field"> <span data-toggle="tooltip" title="{{objectDesc}}">{{objectName}}</span></div>
<div class="gacha-field"> <a href="{{baseUrl}}/#dashboard" target="_blank"><i class="fa fa-info-circle"></i>Info</a></div>
<div class="gacha-field"> <a href="{{mapUrl}}"><i class="fa fa-globe"></i>Teleport</a></div>
