<div class="gacha-field"><i class="fa fa-asterisk"></i>&#160;<span data-toggle="tooltip" title="{{objectDescPrefixed}}">{{objectName}}</span></div>
<div class="gacha-field"><a href="{{baseUrl}}/#dashboard" target="_blank"><i class="fa fa-info-circle"></i>&#160;Info</a></div>
<div class="gacha-field"><a href="{{mapUrl}}"><i class="fa fa-globe"></i>&#160;Teleport</a></div>
