<div class="gacha-icon"><i class="fa fa-gamepad"></i>&#160;</div>
<div class="gacha-name"> <a href="{{baseUrl}}/#dashboard" target="_blank" data-toggle="tooltip" title="{{objectDesc}}">{{objectName}}</a></div>
