<div class="row">
    <div id="max-price-container" class="col-sm-4" data-toggle="tooltip" data-tooltip-placement="bottom" title="This is the maximum number of lindens you want to spend. Enter 0 to see only free Gachas">
        <div class="input-group">
            <span class="input-group-addon">Max <i class="fa fa-money"></i></span>
            <input class="form-control" id="max-price" type="number" placeholder="L$" data-aria-valuemin="0" value="" />
            <i id="clear-maxPrice" class="fa fa-times-circle-o"><span class="sr-only">Clear maximum price</span></i>
        </div>
    </div>
    <div id="search-string-container" class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">Search</span>
            <input class="form-control" id="search-string" type="text" placeholder="Search" value="" />
            <i id="clear-search" class="fa fa-times-circle-o"><span class="sr-only">Clear search string</span></i>
        </div>
    </div>
    <div id="randomize-container" class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">Random Gachas</span>
            <div class="input-group-btn">
                <button type="button" value="0" class="randomize-button btn btn-default active" id="randomize-off">No</button>
                <button type="button" value="1" class="randomize-button btn btn-default" id="randomize-on">Yes</button>
            </div>
        </div>
    </div>
</div>
