#page-config #header .nav-links {
    float: right;
    margin-left: 1em;
}

#page-config button.disabled .if-enabled {
    display: none;
}
#page-config button:not(.disabled) .if-disabled {
    display: none;
}
