#page-config #header .nav-links {
    float: right;
    margin-left: 1em;
}

#page-config #save {
    margin-right: -1px; /* To compensate for hidden dropdown elements to the right of the button */
}

#page-config #help-bubble-for-tooltips {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

#page-config #header .alert.sl-viewer-only .fa-info-circle {
    float: left;
    margin-right: 0.5em;
}
