#page-registry .agent {
    display: inline-block;
    vertical-align: top;
    width: 420px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#page-registry .agent .list {
    padding-left: 1em;
}
