<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Object Controls</h2>
    </div>
    <div class="panel-body form-horizontal" role="form">

        <div class="alert alert-danger fade fade-resize hide" id="root-prim-choice-needed-warning">
            <i class="fa fa-exclamation-triangle"></i> This Easy Gacha script is in the root prim of a linked set. If it sets the default click action, this will affect the <strong>entire object</strong>, not just this prim. Do you want to automatically set the default action for the whole object?
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="When Easy Gacha is the root prim in a linked set, setting the default click action affects the whole object. Therefore we must get your permission before doing so.">Set Root Prim Action</label>
            <div class="col-sm-10">
                <div class="btn-group" data-toggle="tooltip" title="When Easy Gacha is the root prim in a linked set, setting the default click action affects the whole object. Therefore we must get your permission before doing so.">
                    <button id="root-click-off" class="btn btn-default" data-value="0">No</button>
                    <button id="root-click-on" class="btn btn-default" data-value="1">Yes</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Purchases</h2>
    </div>
    <div class="panel-body form-horizontal" role="form">

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="Set a maximum number of items this Easy Gacha may hand out">Max Items Ever</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button id="max-buys-unlimited" class="btn btn-default" type="button" data-toggle="tooltip" title="No limit will be placed on the number of items given." data-limited="0">Unlimited</button>
                        <button id="max-buys-limited" class="btn btn-default" type="button" data-toggle="tooltip" title="Allows you to enter a maximum." data-limited="1">Limited</button>
                    </span>
                    <input class="form-control" id="max-buys-count" type="number" placeholder="Enter Maximum" data-aria-valuemin="0" data-toggle="tooltip" title="This is the maximum number of items this Easy Gacha may hand out" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="Set the maximum number of items Easy Gacha may give AT A TIME">Max Items Per Play</label>
            <div class="col-sm-10">
                <input class="form-control" id="max-per-purchase-count" type="number" placeholder="Enter Maximum" data-aria-valuemin="1" data-aria-valuemax="{{MAX_PER_PURCHASE}}" data-toggle="tooltip" title="Set the maximum number of items Easy Gacha may give AT A TIME" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="Only people in the same group as this object may play this Easy Gacha">Group Play Only</label>
            <div class="col-sm-10">
                <div class="btn-group" data-toggle="tooltip" title="Only people in the same group as this object may play this Easy Gacha">
                    <button id="group-off" class="btn btn-default" data-value="0">No</button>
                    <button id="group-on" class="btn btn-default" data-value="1">Yes</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Folders</h2>
    </div>
    <div class="panel-body form-horizontal" role="form">

        {{#if isRootOrOnlyPrim}}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="folder-name">Folder Name</label>
                <div class="col-sm-10" id="folder-name">
                    When multiple items are given at the same time (multi-play feature), they will be given as a folder. The name of that folder will be based on the name of the <strong>prim</strong> that this script is in. To change the name of the folder, edit the name of the prim.
                </div>
            </div>
        {{else}}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="folder-name" data-toggle="tooltip" title="This will set the name of the PRIM containing Easy Gacha, and will be used for the names of the folders given.">Folder Name</label>
                <div class="col-sm-10">
                    <input class="form-control" id="folder-name" type="text" placeholder="Folder Name" data-toggle="tooltip" title="This will set the name of the PRIM containing Easy Gacha, and will be used for the names of the folders given." />
                </div>
            </div>
        {{/if}}

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="When a person plays this Easy Gacha and receives only one item, should it be in a folder?">Use Folder for Single Item</label>
            <div class="col-sm-10">
                <div class="btn-group" data-toggle="tooltip" title="When a person plays this Easy Gacha and receives only one item, should it be in a folder?">
                    <button id="always-folder-off" class="btn btn-default" data-value="0">No</button>
                    <button id="always-folder-on" class="btn btn-default" data-value="1">Yes</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><a href="https://en.wikipedia.org/wiki/Application_programming_interface" target="_blank">API (Application Programming Interface)</a> - Tools for other scripters</h2>
    </div>
    <div class="panel-body form-horizontal" role="form">

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="When a person plays this Easy Gacha, the script will send llMessageLinked( LINK_SET , 3000168 , (string)Count_Of_Items_Given , Agent_Key );">Signal Per Play</label>
            <div class="col-sm-10">
                <div class="btn-group" data-toggle="tooltip" title="When a person plays this Easy Gacha, the script will send llMessageLinked( LINK_SET , 3000168 , (string)Count_Of_Items_Given , Agent_Key );">
                    <button id="api-signal-play-off" class="btn btn-default" data-field="apiPurchasesEnabled" data-value="0">No</button>
                    <button id="api-signal-play-on" class="btn btn-default" data-field="apiPurchasesEnabled" data-value="1">Yes</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label text-danger" data-toggle="tooltip" title="When a person plays this Easy Gacha, the script will send llMessageLinked( LINK_SET , 3000169 , Name_Of_Item_Given , Agent_Key ); WARNING: THIS CAN FLOOD THE EVENT QUEUE">Signal Per Item</label>
            <div class="col-sm-10">
                <div class="btn-group" data-toggle="tooltip" title="When a person plays this Easy Gacha, the script will send llMessageLinked( LINK_SET , 3000169 , Name_Of_Item_Given , Agent_Key ); WARNING: THIS CAN FLOOD THE EVENT QUEUE">
                    <button id="api-signal-item-off" class="btn btn-default" data-field="apiItemsGivenEnabled" data-value="0">No</button>
                    <button id="api-signal-item-on" class="btn btn-default" data-field="apiItemsGivenEnabled" data-value="1">Yes</button>
                </div>
            </div>
        </div>

    </div>
</div>
