<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Output</h2>
    </div>
    <div class="panel-body form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="When a person plays this Easy Gacha and receives only one item, should it be in a folder?">Hovertext</label>
            <div class="col-sm-10">
                <div class="btn-group" data-toggle="tooltip" title="If this is enabled, hovertext will be used to indicate when Easy Gacha is busy or unavailable">
                    <button id="allowHover-off" class="btn btn-primary" data-value="0">Disabled</button>
                    <button id="allowHover-on" class="btn btn-primary" data-value="1">Enabled</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Purchase Reports</h2>
    </div>
    <div class="panel-body form-horizontal">

        <div class="alert alert-warning fade fade-resize hide clearfix" id="email-is-slow-warning">
            <i class="fa fa-exclamation-triangle"></i> Email is <strong>very slow</strong>, and causes a <strong>20 second</strong> delay after each play (not after each item).
            <button class="btn btn-primary" aria-hidden="true" id="email-is-slow-warning-dismiss">I understand</button>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="If a valid email address is entered here, Easy Gacha will send an email with each play (but not for each item). This causes a very long script delay (20 seconds).">Email</label>
            <div class="col-sm-10" data-toggle="tooltip" title="If a valid email address is entered here, Easy Gacha will send an email with each play (but not for each item). This causes a very long script delay (20 seconds).">
                <input type="email" class="form-control" id="email" placeholder="Email address" />
                <i id="clear-email" class="fa fa-times-circle-o"><span class="sr-only">Clear email address</span></i>
            </div>
        </div>

        <div class="form-group" data-toggle="tooltip" title="If set, a short message will be sent each time someone plays this Easy Gacha">
            <label class="col-sm-2 control-label">IM</label>
            <div class="col-sm-10">
                <div class="btn-group">
                    <button id="im-off" type="button" class="btn btn-primary">Off</button>
                    <button id="im-owner" type="button" class="btn btn-primary"></button>
                    <button id="im-selected" type="button" class="btn btn-primary"></button>
                    <button id="im-other" type="button" class="btn btn-primary">Someone Else</button>
                </div>
            </div>
        </div>

    </div>
</div>
