<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Output</h2>
    </div>
    <div class="panel-body">

        <div class="checkbox">
            <label data-toggle="tooltip" title="If this box is checked, hovertext will be used to indicate when Easy Gacha is busy or unavailable">
                <input id="allowHover" type="checkbox" /> Hovertext
            </label>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Purchase Reports</h2>
    </div>
    <div class="panel-body">

        <div id="email-container" class="form-group">
            <label data-toggle="tooltip" title="If provided, a list of items received for each purchase will be sent to you directly from Easy Gacha">
                Email:
                <i id="clear-email" class="fa fa-times-circle-o"></i>
                <input type="email" class="form-control" id="email" placeholder="Email address" />
            </label>
        </div>

        <div id="im-container" class="form-group">
            <label data-toggle="tooltip" title="If set, a short message will be sent each time someone plays this Easy Gacha">
                IM: <div class="btn-group">
                    <button id="im-off" type="button" class="btn btn-primary">Off</button>
                    <button id="im-owner" type="button" class="btn btn-primary"></button>
                    <button id="im-selected" type="button" class="btn btn-primary"></button>
                    <button id="im-other" type="button" class="btn btn-primary">Someone Else</button>
                </div>
            </label>
        </div>
    </div>
</div>
