<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Output</h2>
    </div>
    <div class="panel-body form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="When a person plays this Easy Gacha and receives only one item, should it be in a folder?">Hovertext</label>
            <div class="col-sm-10">
                <div class="btn-group" data-toggle="tooltip" title="If this is enabled, hovertext will be used to indicate when Easy Gacha is busy or unavailable">
                    <button id="allowHover-off" class="btn btn-default" data-value="0">Disabled</button>
                    <button id="allowHover-on" class="btn btn-default" data-value="1">Enabled</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Purchase Reports</h2>
    </div>
    <div class="panel-body form-horizontal">

        <div class="alert alert-warning fade fade-resize hide clearfix" id="email-is-slow-warning">
            <button class="btn btn-primary" aria-hidden="true" id="email-is-slow-warning-dismiss">I understand</button>
            <i class="fa fa-exclamation-triangle"></i> Email is <strong>very slow</strong>, and causes a <strong>20 second</strong> delay <strong>after</strong> each play (not after each item). This will not stop people from playing your Gacha, but does mean that there is a long delay between plays. For example: If two people, John and Jane, want to play the Gacha, and Jane goes first, then John must wait 20 seconds before he may play. This is a limitation enforced by Second Life. Thank your Linden Overlords...
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" data-toggle="tooltip" title="If an email address is entered, a message will be sent each time someone plays with a list of all of the items they were given.">Email</label>
            <div class="col-sm-10" data-toggle="tooltip" title="If an email address is entered, a message will be sent each time someone plays with a list of all of the items they were given.">
                <input type="email" class="form-control" id="email" placeholder="Email address" />
                <i id="clear-email" class="fa fa-times-circle-o"><span class="sr-only">Clear email address</span></i>
            </div>
        </div>

        <div class="form-group" data-toggle="tooltip" title="If set, a short message will be sent each time someone plays this Easy Gacha">
            <label class="col-sm-2 control-label">IM</label>
            <div class="col-sm-10">
                <div class="btn-group">
                    <button id="im-off" type="button" class="btn btn-default">Off</button>
                    <button id="im-owner" type="button" class="btn btn-default"></button>
                    <button id="im-selected" type="button" class="btn btn-default"></button>
                    <button id="im-other" type="button" class="btn btn-default">Someone Else</button>
                </div>
            </div>
        </div>

    </div>
</div>
