<div id="line-too-long" class="alert alert-warning fade">
    <i class="fa fa-exclamantion-triange"></i>
    WARNING: The following lines are too long and cannot be used in a notecard (but you could still save this an load it manually):
    <pre id="line-which-is-too-long"></pre>
</div>

<h3>Instructions</h3>
<ol>
    <li>If the text in the box below is not highlighted, click the box below.</li>
    <li>Copy the text (CTRL-C in Windows, &#8984;-C in OS X)</li>
    <li>Paste the text into a Notecard or save it in a text file on your computer</li>
</ol>

<textarea class="form-control" id="export" type="text" readonly="readonly"></textarea>
