<div id="line-too-long" class="alert alert-warning fade fade-resize">
    <i class="fa fa-exclamation-triangle"></i>
    WARNING: The following lines are too long to be automatically read from a notecard (but you could still save and load this manually):
    <pre id="line-which-is-too-long"></pre>
</div>

<h3>Instructions</h3>

<p><i class="fa fa-file-text"></i> NOTE: You do <strong>not</strong> have to save your configuration to a notecard for Easy Gacha to work. Just click the "Save Changes" button in the upper-right corner. This feature just gives you extra options.</p>

<ol>
    <li>If the text in the box below is not highlighted, click the box below.</li>
    <li>Copy the text (CTRL-C in Windows, &#8984;-C in OS X)</li>
    <li>Paste the text into a <strong>Notecard</strong> or save it in a <strong>text file</strong> on your computer (CTRL-V in Windows, &#8984;-V in OS X). You may store this wherever you like. <strong>This is NOT a script and will not save successfully as a script</strong></li>
</ol>

<textarea class="form-control" id="export" type="text" readonly="readonly" rows="5"></textarea>
