<td colspan="100">
    <div class="alert alert-danger">
        <i class="fa fa-exclamation-triangle"></i>
        There is no inventory in the same <strong>prim</strong> as this script. Please add some inventory, then <a href="javascript:;" class="trigger-reload">reload</a>.
    </div>
</td>
