<table class="table table-striped table-hover table-condensed table-responsive" id="payouts">
    <thead>
        <tr>
            <th data-column-contents="user" data-toggle="tooltip" data-tooltip-placement="right" title="This person will be given money each time the Easy Gacha is played" class="nowrap-this-element">User</th>
            <th data-column-contents="payout" data-toggle="tooltip" data-tooltip-placement="top" title="This is amount in Lindens per object to give to this person" class="nowrap-this-element"><i class="fa fa-money"></i> Payout</th>
            <th data-column-contents="action" class="nowrap-this-element">
                <button type="button" class="btn btn-primary" id="payouts-add-new"><i class="fa fa-plus-circle"></i> Add New Payout</button>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th data-column-contents="user" data-toggle="tooltip" data-tooltip-placement="right" title="This is the number of payouts configured, including the owner" class="nowrap-this-element">Number of Payouts: <span id="count-payouts"></span></th>
            <th data-column-contents="payout" data-toggle="tooltip" data-tooltip-placement="top" title="This is the total of all payouts and should always equal the price" class="nowrap-this-element">Total Payouts: <span id="total-payouts"></span></th>
            <th data-column-contents="action"></th>
        </tr>
    </tfoot>
</table>
