<div class="form-horizontal">

    <div class="form-group" data-toggle="tooltip" title="This determines how much it costs to play for one item">
        <label class="col-sm-2 control-label">Price Per Item</label>
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money"></i> Lindens</span>
                <input type="number" class="form-control" placeholder="Price" id="button-price" data-extra-field="button_price" />
            </div>
        </div>
    </div>

    <div class="alert alert-danger fade fade-resize hide clearfix" id="price-zero-warning">
        <i class="fa fa-exclamation-triangle"></i> The price is L$0.
        <button class="btn btn-primary" id="prize-zero-okay">Yes, I want this to be FREE</button>
    </div>

    <div class="form-group fade fade-resize hide" id="price-buttons">
        <label class="col-sm-2 control-label">Pay Buttons</label>
        <div class="col-sm-6">
            <div class="input-group" data-toggle="tooltip" title="This is how many ITEMS should show up in button #1">
                <span class="input-group-addon">Button 1 Count</span>
                <input type="number" class="form-control pay-field" placeholder="Item Count" id="button-0" data-extra-field="button_0" data-max-per-play="true" data-preview-el="#pay-preview-button-0" />
            </div>
            <div class="input-group" data-toggle="tooltip" title="This is how many ITEMS should show up in button #2">
                <span class="input-group-addon">Button 2 Count</span>
                <input type="number" class="form-control pay-field" placeholder="Item Count" id="button-1" data-extra-field="button_1" data-max-per-play="true" data-preview-el="#pay-preview-button-1" />
            </div>
            <div class="input-group" data-toggle="tooltip" title="This is how many ITEMS should show up in button #3">
                <span class="input-group-addon">Button 3 Count</span>
                <input type="number" class="form-control pay-field" placeholder="Item Count" id="button-2" data-extra-field="button_2" data-max-per-play="true" data-preview-el="#pay-preview-button-2" />
            </div>
            <div class="input-group" data-toggle="tooltip" title="This is how many ITEMS should show up in button #4">
                <span class="input-group-addon">Button 4 Count</span>
                <input type="number" class="form-control pay-field" placeholder="Item Count" id="button-3" data-extra-field="button_3" data-max-per-play="true" data-preview-el="#pay-preview-button-3" />
            </div>
            <div class="input-group" data-toggle="tooltip" title="This is how many ITEMS should show up in the &quot;choose amount&quot; box by default">
                <span class="input-group-addon">Default Count</span>
                <input type="number" class="form-control pay-field" placeholder="Item Count" id="button-default" data-extra-field="button_default" data-max-per-play="true" data-preview-el="#pay-preview-default" />
            </div>
        </div>
        <div class="col-sm-4">
            <div id="pay-preview-background">
                <div id="pay-preview-default" class="pay-preview-field" data-preview-of-field="#button-default"></div>
                <div id="pay-preview-button-0" class="pay-preview-field" data-preview-of-field="#button-0"></div>
                <div id="pay-preview-button-1" class="pay-preview-field" data-preview-of-field="#button-1"></div>
                <div id="pay-preview-button-2" class="pay-preview-field" data-preview-of-field="#button-2"></div>
                <div id="pay-preview-button-3" class="pay-preview-field" data-preview-of-field="#button-3"></div>
                <div id="pay-preview-name"></div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger fade fade-resize hide clearfix" id="no-payment-options-warning">
        <i class="fa fa-exclamation-triangle"></i> You've set a price but no payment options. Please choose at least one payment option.
    </div>

    <div class="alert alert-warning fade fade-resize hide clearfix" id="buttons-not-ordered-warning">
        <div class="btn-group">
            <button class="btn btn-default" id="ignore-buttons-out-of-order">Ignore</button>
            <button class="btn btn-primary" id="fix-button-order">Fix</button>
        </div>
        <i class="fa fa-exclamation-triangle"></i> The buttons aren't in order. Would you like us to fix this for you?
    </div>

    <div class="alert alert-warning fade fade-resize hide clearfix" id="plays-fixed-because-no-copy">
        <button class="btn btn-primary" id="ack-no-copy-items-means-single-item-play">Okay</button>
        <i class="fa fa-exclamation-triangle"></i> You have selected to hand out no-copy items. Because of this, the multi-item play feature has to be disabled. Once all no-copy items have been given, the above button settings will take effect.
    </div>

</div>
