<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#tab-items">Inventory</a></li>
    <li><a data-toggle="tab" href="#tab-price">Price</a></li>
    <li><a data-toggle="tab" href="#tab-payouts">Payouts</a></li>
    <li><a data-toggle="tab" href="#tab-comms">Communications</a></li>
    <li><a data-toggle="tab" href="#tab-advanced">Advanced</a></li>
    <li><a data-toggle="tab" href="#tab-export">Export</a></li>
    <li><a data-toggle="tab" href="#tab-import">Import</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="tab-items"></div>
    <div class="tab-pane fade" id="tab-price"></div>
    <div class="tab-pane fade" id="tab-payouts"></div>
    <div class="tab-pane fade" id="tab-comms"></div>
    <div class="tab-pane fade" id="tab-advanced"></div>
    <div class="tab-pane fade" id="tab-export"></div>
    <div class="tab-pane fade" id="tab-import"></div>
</div>
