<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#tab-items"><span class="colorize"><i class="fa fa-suitcase"></i> Inventory</span></a></li>
    <li><a data-toggle="tab" href="#tab-price"><span class="colorize"><i class="fa fa-money"></i> Price</span></a></li>
    <li><a data-toggle="tab" href="#tab-payouts"><span class="colorize"><i class="fa fa-users"></i> Payouts</span></a></li>
    <li><a data-toggle="tab" href="#tab-comms"><span class="colorize"><i class="fa fa-comment-o"></i> Communications</span></a></li>
    <li><a data-toggle="tab" href="#tab-advanced"><span class="colorize"><i class="fa fa-cogs"></i> Advanced</span></a></li>
    <li><a data-toggle="tab" href="#tab-export"><span class="colorize"><i class="fa fa-cloud-upload"></i> Export</span></a></li>
    <li><a data-toggle="tab" href="#tab-import"><span class="colorize"><i class="fa fa-cloud-download"></i> Import</span></a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="tab-items"></div>
    <div class="tab-pane fade" id="tab-price"></div>
    <div class="tab-pane fade" id="tab-payouts"></div>
    <div class="tab-pane fade" id="tab-comms"></div>
    <div class="tab-pane fade" id="tab-advanced"></div>
    <div class="tab-pane fade" id="tab-export"></div>
    <div class="tab-pane fade" id="tab-import"></div>
</div>
