<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#tab-items"><i class="fa fa-suitcase"></i> Inventory</a></li>
    <li><a data-toggle="tab" href="#tab-price"><i class="fa fa-money"></i> Price</a></li>
    <li><a data-toggle="tab" href="#tab-payouts"><i class="fa fa-users"></i> Payouts</a></li>
    <li><a data-toggle="tab" href="#tab-comms"><i class="fa fa-comment-o"></i> Communications</a></li>
    <li><a data-toggle="tab" href="#tab-advanced"><i class="fa fa-cogs"></i> Advanced</a></li>
    <li><a data-toggle="tab" href="#tab-export"><i class="fa fa-cloud-upload"></i> Export</a></li>
    <li><a data-toggle="tab" href="#tab-import"><i class="fa fa-cloud-download"></i> Import</a></li>
    <li><a data-toggle="tab" href="#tab-problems"><i class="fa fa-check-circle fa-exclamation-triangle"></i> Problems</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="tab-items"></div>
    <div class="tab-pane fade" id="tab-price"></div>
    <div class="tab-pane fade" id="tab-payouts"></div>
    <div class="tab-pane fade" id="tab-comms"></div>
    <div class="tab-pane fade" id="tab-advanced"></div>
    <div class="tab-pane fade" id="tab-export"></div>
    <div class="tab-pane fade" id="tab-import"></div>
    <div class="tab-pane fade" id="tab-problems"></div>
</div>
