#page-dashboard #header .nav-links {
    float: right;
    margin-left: 1em;
}

#page-dashboard .page-header .nav-links label {
    margin-right: 1em;
}

#page-dashboard #header-price {
    white-space: nowrap;
}
