#page-dashboard .nowrap-this-element {
    white-space: nowrap;
}

#page-dashboard .nowrap-this-element * {
    white-space: normal;
}

#page-dashboard [data-column-contents=name] ,
#page-dashboard [data-column-contents=inventory] {
    padding-right: 2em !important;
}

#page-dashboard [data-column-contents=probability] {
    width: 100%;
}
