<div id="loader-progress" class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">
        <span class="sr-only"><span class="value">{{percentage}}</span>% Complete</span>
    </div>
</div>
